.content
  ログイン
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .content__box
      .content__box__field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .content__box__field
        = f.label :name
        %br
        = f.text_field :name
      .content__box__field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .content__box__field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .content__box__actions
        = f.submit "登録する"
      = render "devise/shared/links"