- if user_signed_in?
  = render("layouts/header")
  - @animals.each do |a|
    - if a.doing.present? && a.doing > 0
      = link_to user_animal_path(a.id) do
        .doing
          - if a.image.present?
            = image_tag "#{a.image}", class: "sidebar__box__image"
          - else
            .sidebar__box__default
              = icon('fas','paw', class: "sidebar__box__default__icon")
          - if a.name.present?
            = a.name
          - else
            = "No.#{a.id}"
  = render("layouts/sidebar")