.content
  アカウント作成
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .content__box
      .content__box__field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .content__box__field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .content__box__field
          = f.check_box :remember_me
          = f.label :remember_me
      .content__box__actions
        = f.submit "Log in"
        = render "devise/shared/links"
